.footer {
   max-width: 1184px;

   display: flex;
   justify-content: space-between;

   padding: 0 48px 24px 48px;
   margin: 0 auto;
}

@media screen and (max-width: 601px) {
   .footer {
      max-width: 220px;

      flex-direction: column;

      padding-left: 16px;
      margin: 0;
   }
}

@media (min-width: 601px) and (max-width: 768px) {
   .footer {
      max-width: 720px;

      padding: 0 24px 24px 24px;
   }
}

@media (min-width: 769px) and (max-width: 1024px) {
   .footer {
      max-width: 928px;
   }
}