.place__url-heading {
   font-family: 'Inter', sans-serif;
   font-size: 12px;
   line-height: 12px;
   font-weight: 400;
   letter-spacing: 2px;
   text-transform: uppercase;

   padding-bottom: 12px;
   margin: 0;

   color: #AAAAAA;
}

@media screen and (max-width: 425px) {
   .place__url-heading {
      padding: 0 16px 12px 16px;
   }   
}